* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  background-color: #151515;
  color: #E8E3E3;
  padding: 10px;
  font-family: SF Pro Display;
  font-weight: 500;
  font-size: 14px;
}

// Widget

.clock_class {
  font-size: 14px;
  margin: 0 5px 0 10px;
}

.clock_date_class {
    font-size: 12px;
    margin: 0px 10px 0px 0px;
    color: #E8E3E3;
}

.works {
  font-family: JetBrainsMono Nerd Font;
  font-size: 16px;
  font-weight: normal;
  padding: 0 3px 2px 0;
}

.workspace_active, .workspace_occupied, .workspace_empty {
  min-width: 22px;
}

.bat_icon {
  margin-left: 6px;
}

.labeltext {
  font-size: 12;
  margin-left: 5px;
}

.bright_icon, .volume_icon {
  font-family: Symbols Nerd Font;
}

.bright_icon {
  font-size: 15px;
  margin-left: 10px;
}

.volume_icon {
  font-size: 18px;
  margin-left: 6px;
}

.brightbar trough highlight {
  background-color: #E8E3E3;
  border-radius: 10px;
}

.volbar trough highlight {
  background-color: #E8E3E3;
  border-radius: 10px;
}

.module-wifi {
  font-size: 15px;
  margin-left: 10px;
}

.wifi_essid {
  font-size: 12px;
  margin-left: 10px;
}

// Tooltip
tooltip.background {
  background-color: #151515;
  color: #E8E3E3;
}

scale trough {
  all: unset;
  background-color: #1f1f1f;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0 5px;
}

.left_modules, .right_modules, .center_modules {
  background-color: #232323;
  border-radius: 15px;
}

.left_modules {
  margin: 6px 2px;
  padding: 0 5px;
}

.right_modules {
  margin: 6px 2px;
}

.center_modules {
  margin: 6px 0;
}

.window .text {
  font-size: 15px;
  margin-top: 1px;
  padding: 0 10px;
}

.text_empty {
  background-color: #151515;
  padding: 3px;
}
